snippet pdb
	import pdb;pdb.set_trace()
snippet bdb
	import bpdb;bpdb.set_trace()
snippet encoding
	# -*- coding: utf-8 -*-
snippet header
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-
	
snippet main
	if __name__ == "__main__":
	  
