[submodule "pack/bkad/start/CamelCaseMotion"]
	path = pack/bkad/start/CamelCaseMotion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule "pack/bkad/start/vim-terraform"]
	path = pack/bkad/start/vim-terraform
	url = git@github.com:bkad/vim-terraform.git
[submodule "pack/bkad/start/vim-fugitive"]
	path = pack/bkad/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/bkad/start/nerdcommenter"]
	path = pack/bkad/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "pack/bkad/start/MatchTag"]
	path = pack/bkad/start/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "pack/bkad/start/ctrlp.vim"]
	path = pack/bkad/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "pack/bkad/start/nerdtree"]
	path = pack/bkad/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/bkad/start/python-syntax"]
	path = pack/bkad/start/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule "pack/bkad/start/vim-snipmate"]
	path = pack/bkad/start/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "pack/bkad/start/supertab"]
	path = pack/bkad/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "pack/bkad/start/vim-surround"]
	path = pack/bkad/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/bkad/start/tlib_vim"]
	path = pack/bkad/start/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "pack/bkad/start/vim-syntax-vcl"]
	path = pack/bkad/start/vim-syntax-vcl
	url = git@github.com:pld-linux/vim-syntax-vcl.git
[submodule "pack/bkad/start/typescript-vim"]
	path = pack/bkad/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "pack/bkad/start/vim-addon-mw-utils"]
	path = pack/bkad/start/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "pack/bkad/start/vim-coffee-script"]
	path = pack/bkad/start/vim-coffee-script
	url = git@github.com:bkad/vim-coffee-script.git
[submodule "pack/bkad/start/vim-dispatch"]
	path = pack/bkad/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "pack/bkad/start/vim-go"]
	path = pack/bkad/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/bkad/start/vim-go-templates"]
	path = pack/bkad/start/vim-go-templates
	url = git@github.com:cespare/vim-go-templates.git
[submodule "pack/bkad/start/vim-indent-guides"]
	path = pack/bkad/start/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "pack/bkad/start/vim-js-indent"]
	path = pack/bkad/start/vim-js-indent
	url = git@github.com:jason0x43/vim-js-indent.git
[submodule "pack/bkad/start/vim-markdown"]
	path = pack/bkad/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/bkad/start/vim-multiple-cursors"]
	path = pack/bkad/start/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "pack/bkad/start/vim-projectionist"]
	path = pack/bkad/start/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "pack/bkad/start/vim-toml"]
	path = pack/bkad/start/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "pack/bkad/start/tsuquyomi"]
	path = pack/bkad/start/tsuquyomi
	url = git@github.com:bkad/tsuquyomi.git
[submodule "pack/bkad/start/editerconfig-vim"]
	path = pack/bkad/start/editerconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
